@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li b-90te9otg8i class="breadcrumb-item">
        <a b-90te9otg8i asp-area="Identity" asp-page="/Account/Manage/Index" class="ml-4 mt-1 btn btn-light btn-sm">Manage account</a>
    </li>
    <li b-90te9otg8i class="breadcrumb-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button b-90te9otg8i type="submit" class="ml-4 mt-1 btn btn-light btn-sm">Logout</button>
        </form>
    </li>
}
else
{
    <li b-90te9otg8i class="breadcrumb-item">
        <a b-90te9otg8i class="ml-4 mt-1 btn btn-light btn-sm" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li b-90te9otg8i class="breadcrumb-item">
        <a b-90te9otg8i class="ml-4 mt-1 btn btn-light btn-sm" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
